.newarticle_container {
  padding: 10px 350px 10px 350px;
}

.newarticle_title > input{
  font-size: x-large;
  border-radius: 20px;
  border:  var(--border);
  padding:  .5rem;
  margin-bottom: 1rem;
  min-width:840px;
}

@media ( max-width: 1200px) {
  .newarticle_container {
    padding: 10px 10px;
  }
  .newarticle_title > input{
    font-size: x-large;
    border-radius: 20px;
    border:  var(--border);
    padding:  .5rem;
    margin-bottom: 1rem;
    min-width:94vw;
  }
}


.newarticle_actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



.newarticle_actions > button:not(:first-child) {
  padding: 2px 10px 2px 10px;
  background-color: green;
  border-radius: 20px;
  margin-left: 10px;
  color: white;
  font-size: medium;
  margin: 1rem .4rem;
}
.newarticle_nextbutton{
  padding: 2px 10px 2px 10px;
  background-color: green;
  border-radius: 20px;
  margin-left: 10px;
  color: white;
  font-size: medium;
  margin: 1rem .4rem;
}
.newarticle_nextbutton_disabled{
  padding: 2px 10px 2px 10px;
  background-color: rgb(165, 210, 165);
  border-radius: 20px;
  margin-left: 10px;
  color: white;
  font-size: medium;
  margin: 1rem .4rem;
}
.newarticle_actions > button:hover{
  opacity: 70%;
}

.newarticle_quill h1,
.newarticle_quill h2,
.newarticle_quill h3,
.newarticle_quill h4,
.newarticle_quill h5,
.newarticle_quill h6,
.newarticle_quill p {
  margin-top: 20px; 
}
.newarticle_quill p {
  font-size: medium;
}

.newarticle_quill{
  height: 64vh;
  overflow: scroll;
}

  .newarticle_quill::-webkit-scrollbar {
    display: none;
  }


  .newarticle_title{
    margin-top: 1rem;
  }




.newarticle_actions{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  
}







/* Article Completed */

.articleCompleted_container{
  display: flex;
  flex-direction: column;
  margin: 20px 100px 20px 100px;
  justify-content: center;
  /* background-color: bisque; */
}
.articleCompleted_details_container{
  display: flex;
  flex-direction: row;
  /* margin: 20px 500px 20px 500px; */
  justify-content: center;
  /* background-color: aqua; */
}
.articleCompleted_buttons {
  display: flex;
  justify-content: space-around;
  /* background-color: coral; */
}

.articleCompleted_publish_disabled{
  padding: 2px 10px 2px 10px;
  background-color: rgb(165, 210, 165);
  border-radius: 20px;
  margin-left: 10px;
  color: white;
  font-size: medium;
  margin: 1rem .4rem;
}
.articleCompleted_publish{
  padding: 2px 10px 2px 10px;
  background-color: green;
  border-radius: 20px;
  margin-left: 10px;
  color: white;
  font-size: medium;
  margin: 1rem .4rem;
}
.articleCompleted_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articleCompleted_buttons > button:first-child {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 5px 15px 5px 16px;
  border-radius: 15px;
}


.articleCompleted_preview{
  padding: 50px;
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  /* background-color: green; */

}

.articleCompleted_summary{
  width: 100%;
  height: fit-content;
  margin: 10px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: auto;
  word-wrap: break-word; /* Use word-wrap to wrap the overflow content */
  /* background-color: red; */

}


.articleCompleted_publishingDetails select {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  appearance: none; 
  background-image: url("path/to/custom-arrow-icon.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
}

.articleCompleted_publishingDetails select option {
  padding: 5px;
}

.articleCompleted_preview > span{
  font-size: large;
  font-weight: 600;
  margin: 10px;

}
.articleCompleted_publishingDetails{
  display: flex;
  flex-direction: column;
  /* background-color: rgb(159, 128, 118); */
  padding: 100px;

}

.quill > .ql-container > .ql-editor.ql-blank::before{
  font-size: 20px;
  color: grey;
}
.newarticle_errormessage{
  text-align: center;
  color: white;
  background-color: red;
  margin: 10px 150px;
  border-radius: 20px;

}

.newarticle_successmessage{
  text-align: center;
  color: white;
  background-color: green;
  margin: 10px 150px;
  border-radius: 20px;

}

.articleCompleted_authorname{
  font-size: larger;
  font-weight: 500;
  margin-bottom: 20px;
}
.articleCompleted_category{
  font-size: larger;
  font-weight: 500;
}
.articleCompleted_hashtags{
  margin-top: 20px;
}
.articleCompleted_hashtag{
  border-radius: 20px;
}