.homepost_container{
    width: 63vw;
    height: 250px;
    /* background-color: aqua; */
    
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 30px ;
    margin: 1.3rem 0;
}

.homepost_container_firstrow{
    padding:5px 0 0 20px;
}

.homepost_container_firstrow span{
    padding-left: 20px;
   

}

.homepost_container_secondrow{
    padding-top: 5px;

}
.homepost_container_secondrow h2{ 
    font-size: x-large;
    padding-left: 20px;
    text-decoration: solid;
    font-weight: 600;
}

.homepost_container_thirdrow{
    display: flex;
    flex-direction: row;
    padding-left: 20px ;
    padding-top: 5px;
    padding-right: 30px ;
    justify-content: space-between;


}
.homepost_container_thirdrow p{
    /* background-color: chartreuse; */

}

.homepost_container_thirdrow img{
    height: 100px;
    width: 150px;
}
.homepost_container_forthrow{
    padding-left: 20px;
    padding-top: 5px;


}
.homepost_container_forthrow span{
    align-items: self-start;
    padding-right: 20px;

}
.homepost_container_fifthrow{
    margin-top: 30px;
    border-bottom: var(--border);
}


@media (max-width: 1100px) {
    .homepost_container {
        width: auto;
        height: auto;
    }
    .homepost_container_thirdrow{
        display: flex;
        flex-direction: column;
    
    }
    .homepost_container_thirdrow img{
        width: auto;
        height: auto;
        margin-bottom: 1rem;
    }
  }
