.article_container {
    margin: 10px 350px 10px 350px;
  }
  
  @media (max-width: 1200px) and (min-width: 100px) {
    .article_container {
        margin: 10px 50px 10px 50px;

    }
  }
  
  @media (max-width: 1024px) {
    .article_container {
      margin: 10px 20px;
    }
  }
  
.article_inner_container{
    /* background-color: red; */
    width: auto;
    /* height: 100vh; */
    height: auto;
    display: flex;
    flex-direction: column;
}
.article_main_image{
    align-items: center;
    display: flex;
    justify-content: center;
}
.article_main_heading{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-weight: bold; */
    font-weight: 900;
    font-size: 34px;
    font-weight: 900;
    color: #333333;
    padding: 2rem 1rem;
}
.article_author_container{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin: 1rem 2rem;
}
.article_author_name{
    font-size: large;

}
.article_reading_details span{
    padding-right: 0.4rem;
    color: gray;

}
.article_interaction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:var(--border);
    border-bottom: var(--border);
    padding: 10px 5px 10px 5px;
    margin: 15px 0px 15px 0px;
}
.article_interaction img{
    height: 30px;
}

.article_interaction_leftside{
    display: flex;
    flex-direction: row;
    color: gray;
}

.article_interaction_leftside span{
    padding: 2px 8px 2px 20px;
    cursor: pointer;
}

.article_share_commend_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.article_share_commend_icon span{
    padding: 2px 10px 2px 10px;
    cursor: pointer;
}
.article_content_start p{
    padding: 10px 0 10px 0;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 300;
}
.article_related_articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.article_quill *{
    line-height: 1.7;
    font-size: large;
}

.article_quill h1,
.article_quill h2,
.article_quill h3,
.article_quill h4,
.article_quill h5,
.article_quill h6 {
  margin-top: 20px;

}