/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: solid 2px rgba(242, 242, 242, 1);
  --button_background: #f2f2f2;
  --submit_button: green;
  --submit_button_disabled: rgb(98, 160, 98);
}
