.admindash_main_container{
    width: 72vw;
    height: 250px;
    background-color: rgb(228, 232, 220);
    display: flex;
    flex-direction: column;
    padding: 10px ;
    border: 1px solid white;
    
}
.admindash_main_container table th {
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    
}

.admindash_main_container table button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 0px 15px 0px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 3px 0px 3px 0px;
}
.admindash_main_container table td{
    border: 1px solid grey;
}

.admindash_main_container table tr{
    margin-bottom: 13px;
}