.admindash_sidebar_container{
    /* background-color: darkgreen; */
    width: 20vw;
    height: 82vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    /* border: 1px solid black; */
}
.admindash_sidebar_container button {
    font-weight: 500;
    font-size: x-large;
    margin: 5px ;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 15px 5px 25px;
    cursor: pointer;

}