.success-message {
    background-color: #234b13;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .error-message {
    background-color: #ffffff;
    color: #ca1310;
    padding: 10px;
    margin-bottom: 10px;
  }
  