.recomented_topics_container{
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-bottom:solid 2px rgb(231, 219, 219) ;
    width: 20vw;


}
.recomented_topics_heading{
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 0px 10px 0px;
    

}
.recomented_topics_topics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}